*{

    margin:0;
    padding:0;
    font-family:sans-serif;
   

}
html
{
    scroll-behavior: smooth;
    transition: 0.5s ease;
    
}

.banner{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/taylor-swift-concert.gif);
    background-size: cover;
    background-position: center;

}

.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;


}

.logo{
    width:120px;
    cursor:pointer;
    color:white;
    font-weight:bold;

}
.logo:hover{
    color:cyan;
}
.navbar ul li{
 list-style: none ;
display:inline-block;
margin:0 20px;
position:relative;

}

.navbar ul li a{
    text-decoration:none;
    color:white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:"";
    height: 3px;
    width:0;
    background:cyan;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover:after{
    width:100%;
}
.content{

    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:white;
    text-align:center;
    }

.content h1{
    font-size: 70px;
    margin-top:80px;

}

.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;

}

.content button{
    width: 200px;
    padding: 15px 0;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border:2px solid cyan;
    background: transparent;
    color:white;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}

span{
    background:cyan;
    height:100%;
    width:0;
    position:absolute;
    left:0;
    bottom:0;
    z-index:1;
    transition:0.5s;
}

button:hover span{
    width:100%;
}

button:hover{
    border:none;
}

/* news section */

.news 
{
    height: 100vh;
    
    background: url(img/taylor1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  margin-top: -10px;

}
.news h5 
{
    text-align: center;
    margin: 10px;
    font-size:50px;
    padding: 20px;
    color: white;
}
.news i
{
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;

}
.row
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    color: black;
}
.row .grid-item {
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 40rem;
    width: 25rem;
    margin: auto;
    border-radius: 20px;
  }
  .row .grid-item 
  {
    color:black;
    margin: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
  }
  .news .grid-item p
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 1.5rem;
  }
  .news .grid-item button 
  {
        width: 6rem;
        padding: 15px;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 2px  solid black;
        cursor: pointer;
        color:black;
  }
  .news .grid-item button:hover
  {
    border-bottom: 1px solid cyan;
  }
  